# temporary files
*.sw[op]
*~

# project files
/*.pro.user
/CMakeLists.txt.user

# temporary build folder
build-release*/


# temporary...
_xxx/
*.zip
*.exe

# local build machine (scripts/local)
scripts/local/*.log
build-local/
external/*.zip
external/*.sha512
